body {
    background-color: beige;
}

table {
    width: 50%;
    border-collapse: collapse;
    margin: 20px 0 20px 50px;
    /* top right bottom left */

}

table,
th,
td {
    border: 1px solid black;
}

th,
td {
    padding: 10px;
    text-align: left;
}

th {
    background-color: #f2f2f2;
}